
body{
    width: 800px;
    margin: auto;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 
}
#mainDiv{
    background-color: white;
    text-align: center;
    min-height: 90vh;
}
#header-div{
  
    padding: 10px;
    background-color: lightgray;
    color: orangered;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header-div a {
    padding-right: 20px;
}

#form{
    margin-top: 10px;
}
#addData-form input{
    display: block;
    margin: 2px auto;
}
#footer-div{
    background-color: lightgray;
}
 #footer-div p {
    padding: 10px ;
}

#table-style{
    margin-top: 20px;
    margin: 20px auto;
}

#table-style th{
    margin-top: 20px;
    border: 1px solid black;
    padding: 5px 30px;
}

#table-style td{
    margin-top: 20px;
    border: 1px solid black;
    padding: 5px 15px;
    text-align: center;
}

.hide{
    display: none;
}
.show{
    display: block;
}

#addRow-btn{
    margin-top: 10px;
}